@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* Common CSS */
.container {
    max-width: 1060px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;

}

.bg-color {
    background-color: #000000;
}

.flex {
    display: flex;
}

.text-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.common {
    max-width: 500px;
}

.common h2 {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 14px;
}

.common h3 {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 14px;
}

.common p {
    color: rgba(255, 255, 255, 0.508);
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 48px;
}

/* nav css */

#header {
    background: #111111;
    overflow: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    color: #E6533C;
    font-size: 36px;
    font-style: italic;
}

.nav {
    display: flex;
    border: 1px solid #ffffff37;
    border-radius: 39px;
    padding: 4px;
}

.nav li {
    display: flex;
    padding: 8px 20px;
    list-style: none;
}

.active {
    background-color: #E6533C;
    border-radius: 46px;

}

.nav a {
    color: white;
}

.mobilemenu {
    display: none;
}

/* bacckground */

.heading {
    color: white;
    align-items: center;

}

.banner-section h1 {
    font-size: 78px;
    font-weight: 900;
}

.banner-section h1 span {
    font-family: 'Miama', sans-serif;
    font-size: 100px;

}

.banner-section p {
    font-size: 16px;
    color: #ffffff62;
    padding: 15px 0px;
}

.buttonsection .button1 {
    padding: 16px 40px;
    background-color: #E6533C;
    border-radius: 42px;
    font-size: 18px;
    color: white;
    margin-right: 20px;
}

.buttonsection .button2 {
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
    font-size: 18px;
    background-color: #111111;
    color: white;
}

/* workout box */

.image-box {
    position: relative;
}

.workout {
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(247, 247, 247, 0.138);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    right: -13%;

}

.workout h2 {
    font-size: 40px;
}

.workout p {
    font-size: 13px;
}

/* tutorial box */
.tutorial .icon {
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tutorial h3 {
    font-weight: 900;
    font-size: 24px;
}

.tutorial p {
    font-size: 13px;
    text-align: center;
}

.tutorial {
    position: absolute;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(247, 247, 247, 0.279);

    top: 68%;
    left: -28%;
}

.ibox {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 5px;
}


/* Habit Section */

.habit {
    padding-top: 50px;
}

.habit-sample {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sample img {
    width: auto;
    border-radius: 50%;
    padding-bottom: 30px;
}

.sample {
    padding-right: 40px;
    text-align: center;
}

.sample h3 {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 15px;
}

.sample p {
    color: rgba(255, 255, 255, 0.508);
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 48px;
}

/* run */

#extramile .flex {
    justify-content: space-between;
}

.extramile {
    background-color: #222222;
    padding: 20px;
    border-radius: 18px;
}

.runimage img {
    width: 366px;
    border-radius: 18px;
    height: 312px;

}

#bmicalculator {
    padding: 88px 0px;
}

/* table */

.maincontent {
    background-color: #222222;
    padding: 20px;
}

.tablechart th,
td {
    border: 1px solid #393939;
    border-collapse: collapse;
    padding: 15px 20px;
    text-align: left;
}

.tablechart td {
    color: rgba(255, 255, 255, 0.508);
}

.tablechart {
    border-collapse: collapse;
}

.bmicalculator {
    justify-content: space-between;
    padding-top: 20px;
}

.bmicalculator h3 {
    padding-bottom: 50px;
}

.set {
    display: flex;
}

.set input,
select {
    color: rgba(255, 255, 255, 0.508);
    background-color: #393939;
    height: 48px;
    border-radius: 8px;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-left: 10px;
}

.height,
.weight,
.age,
.Sex {
    width: 50%;
}

.set .height,
.age {
    padding-right: 12px;
}

.factor {
    width: 100%;
}

.form .button1 {
    width: 224px;
    height: 54px;
}

/*  Team Section */

.team {
    padding-bottom: 88px;
}

.team-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    border-radius: 18px;
}

.team-images img {
    width: 326px;
    height: 272px;
    border-radius: 18px;

}

.team-images {
    position: relative;
}

.image-content {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.image-content h4 {
    font-size: 20px;
    font-weight: 800;
}

.image-content p {
    color: rgba(255, 255, 255, 0.508);
}

/* pricing */

.pricing-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
}

.price {
    list-style-type: none;
    border: 1px solid rgb(69, 69, 69);
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #E6533C;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #403e3e;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #403e3e;
    font-size: 20px;
}

.button {
    background-color: #E6533C;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}

/* Footer */

.footer {
    background-color: #222222;
    padding: 50px 0;

}

.footer-option {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer-left h1 {
    color: #E6533C;
    font-size: 70px;
    font-style: italic;
}

.footer-left p {
    color: rgba(255, 255, 255, 0.508);
    padding-top: 15px;
}

.footer-option ul {
    margin: 0;
    padding: 0;
}

.footer-option li {
    padding: 10px 0;
    list-style: none;
}

.footer-option a {
    color: rgba(255, 255, 255, 0.508);
    font-size: 18px;
    font-weight: 400;
}

.footer-center h4,
.footer-right h4 {
    font-size: 32px;
    padding-bottom: 24px;
}

.line {
    margin: 50px 0;
    border-top: 2px solid rgb(69, 69, 69);
}

.footer-bottom p {
    text-align: center;
    color: rgba(255, 255, 255, 0.508);
}

/* Responsive Part */

@media (min-width: 576px) and (max-width: 992px) {
    .container {
        margin: 0 30px;
    }

    .common h2 {
        font-size: 36px;
    }

    .banner {
        flex-direction: column;
    }

    .banner-section {
        padding-top: 100px;
    }

    .banner-section p {
        padding: 30px 0;
    }

    .imageworkout {
        padding-top: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .workout {
        top: 25%;
        right: 20%;

    }

    /* tutorial box */
    .tutorial {
        top: 70%;
        left: 20%;
    }

    .habit-sample {
        grid-template-columns: repeat(2, 1fr);
    }

    .maincontent .flex {
        flex-direction: column;
    }

    .chart {
        padding: 50px 0;
    }

    .team-images img {
        width: 199px;
        height: 272px;
        border-radius: 18px;

    }

    .team-images h4 {
        font-size: 16px;
    }

    .pricing-section {
        grid-template-columns: repeat(2, 1fr);

    }

    .footer-left {
        grid-column: 1 / -1;
        padding-bottom: 80px;
    }

    .footer-center {
        grid-column: 1 / 2;
    }

    .footer-right {
        grid-column: 2 / -1;
    }
}



@media only screen and (max-width: 576px) {
    .container {
        margin: 0 20px;
    }

    .mobilemenu {
        display: block;
    }

    .nav {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .banner-section h1 {
        font-size: 36px;
        font-weight: 900;
        padding-top: 60px;
    }

    .banner-section p {
        font-size: 16px;
        color: #ffffff62;
        padding: 28px 0px;
    }

    .buttonsection .button1 {
        padding: 10px 20px;
        background-color: #E6533C;
        border-radius: 42px;
        font-size: 18px;
        color: white;
        margin-right: 20px;
        display: inline-block;
    }

    .buttonsection .button2 {
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 42px;
        font-size: 18px;
        background-color: #111111;
        color: white;
        display: inline-block;
        margin-bottom: 28px;
    }

    .imageworkout {
        width: 100%;
    }

    .workout {
        top: 15%;
        right: 0%;

    }

    .tutorial {
        top: 50%;
        left: 0%;
    }

    /* habit */
    .habit-sample {
        grid-template-columns: repeat(1, 1fr);
    }

    .common h2 {
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 15px;
    }

    .sample img {
        width: 70%;
    }

    /* run */
    #extramile {
        padding: 30px 0;
    }

    #extramile .flex {
        flex-direction: column;
    }

    .runimage {
        padding-top: 20px;
    }

    .runimage img {
        width: 100%;
    }

    .extramile .button1 {
        width: 100%;
    }

    /* calculator */

    #bmicalculator .flex {
        flex-direction: column;
    }

    .form {
        padding: 40px 0;
    }

    .common h3 {
        font-size: 16px;
    }

    /* Team */
    .team-photo {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-option {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-center,
    .footer-right {
        padding-top: 30px;
    }
}
